{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'lantern/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lantern/css/lantern.css' %}">
    <link rel="shortcut icon" type="image/svg" href="{% static 'lantern/img/lantern.svg' %}"/>
    <script src="{% static 'lantern/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'lantern/js/jquery.formset.js' %}"></script>
    <script src="{% static 'lantern/js/popper.min.js' %}"></script>
    <script src="{% static 'lantern/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <div class="p-3 px-md-4 mb-3 bg-white border-bottom box-shadow outheader">
    <div class="d-flex flex-column flex-md-row align-items-center  header">
      <a href="/" class='lanternlogo'>
      <svg class='lanternlogo' viewBox="0 0 425.49084 735.37818">
        <path
          d="M 74.152491,14.992646 C 68.14803,19.210045 59.726365,24.40577 55.489644,26.592136 40.453169,34.415456 28.045414,44.236231 19.804407,54.621114 14.87798,60.909224 6.3020155,77.171845 4.1128375,84.47852 c -4.11393695,13.79476 -5.08738395,26.90592 -3.16328095,40.87975 0.71775295,5.22827 4.17050295,20.70982 7.64970195,34.2942 3.4792015,13.58437 9.7319495,39.19361 13.9118295,56.96236 12.42727,52.29267 22.729893,95.92186 25.074874,106.92872 1.280734,5.67888 3.959547,15.42537 5.863857,21.74546 3.241794,10.1971 4.10334,11.91691 7.623905,15.72947 2.117517,2.36983 4.620642,4.30229 5.378633,4.3761 2.338976,0.0959 5.39955,7.41248 4.839851,11.26303 -0.407651,2.01838 1.326978,11.43544 4.329678,25.1713 2.773549,12.02486 7.649701,34.29419 10.981261,49.39455 3.331562,15.10035 8.835136,40.00338 12.352888,55.35934 3.422455,15.38625 8.060635,36.57699 10.349425,47.07705 8.54042,40.72667 12.36996,56.40323 16.35652,67.62274 3.68359,10.26651 4.64044,11.95602 8.97077,16.66539 6.44785,7.07921 16.03178,13.79101 23.42494,16.58229 7.39316,2.79127 20.49109,4.71331 27.52124,4.05231 2.75488,-0.24623 5.15886,-0.27596 5.21946,-0.0854 0.0909,0.2859 -0.19117,2.36927 -0.57293,4.79914 -0.58559,3.43905 -0.29584,5.34065 1.63492,9.76356 2.08666,4.58321 2.22492,6.0083 1.33195,8.81055 -0.82796,2.67666 -0.48644,5.40124 1.52583,13.05113 2.82589,10.53918 2.89802,16.70723 0.39649,26.00198 -1.93798,7.43668 -1.18055,9.81918 4.28513,12.4887 7.31933,3.54927 25.58551,2.25427 54.4779,-3.57319 23.34352,-4.79792 86.4321,-24.85463 110.04116,-35.0885 37.0987,-15.99145 55.75273,-26.95854 60.68413,-35.87153 2.14068,-3.82851 0.31404,-8.91411 -4.44102,-12.64901 -7.82116,-6.11795 -11.47999,-11.35561 -15.26328,-21.27562 -2.77468,-7.40751 -4.0389,-9.73382 -6.23024,-11.34567 -2.19134,-1.61184 -2.93169,-2.95045 -4.00476,-7.64604 -0.83068,-3.93318 -1.9346,-6.41539 -3.30736,-7.76282 -2.43371,-2.37424 -2.98787,-3.45725 -1.2857,-3.054 0.66269,0.10411 2.06189,-0.44564 2.95871,-1.25541 0.96181,-0.93537 4.03345,-3.48586 6.81479,-5.62927 10.33263,-8.42654 15.62319,-15.87973 19.58508,-27.84231 5.68282,-17.44149 4.02201,-27.61655 -8.71442,-55.46674 -4.05213,-8.78523 -8.16484,-17.76106 -9.11287,-20.08297 -1.04333,-2.29161 -6.97003,-14.99295 -13.20412,-28.3311 -6.32938,-13.30785 -15.35136,-33.10492 -20.26062,-43.92616 -7.84865,-17.75665 -26.97506,-59.1053 -45.8332,-99.28005 -3.80974,-8.02283 -7.81891,-15.35267 -8.87987,-16.37949 -2.84521,-2.34835 -3.48914,-8.33462 -1.21405,-12.73052 3.87429,-7.94732 2.31647,-14.16771 -20.31278,-78.74694 -10.18922,-29.07971 -25.1439,-72.48913 -33.38088,-96.41824 C 250.2794,85.127595 241.81712,61.479976 239.57898,56.420261 228.20648,30.549885 205.39743,10.623846 178.80386,3.5483884 c -16.28964,-4.37010301 -29.60021,-4.650561 -51.8822,-1.134497 -7.89227,1.249875 -18.7862,2.29977 -24.03595,2.289827 -5.345051,0.02036 -11.552212,0.629581 -13.713814,1.421716 -2.287199,0.727131 -8.984648,4.7451126 -15.019405,8.8672116 z m 29.151849,-4.021173 c 5.34505,-0.02035 15.00449,-0.9925836 21.37636,-2.0739006 40.45343,-7.089439 69.06096,0.709867 92.97778,25.1105956 11.0382,11.286198 16.65752,23.350742 31.4822,67.011352 5.70909,16.9678 14.46553,42.20081 19.4563,56.24902 20.1537,56.13224 38.67463,111.41945 39.26238,116.89892 0.21151,2.97577 0.14595,5.41005 -0.33055,5.56154 -0.953,0.30297 -2.9967,-2.82486 -4.14799,-6.44626 -0.45446,-1.4295 -3.58941,-5.67944 -6.95408,-9.3317 -7.47852,-8.01073 -17.74718,-13.24567 -29.58473,-14.83387 -9.78448,-1.40145 -19.85542,-0.40334 -21.91346,2.03479 -2.15335,2.46841 -5.38914,3.18232 -8.78908,2.05964 -2.73725,-1.01857 -3.20052,-1.81567 -6.45554,-11.06418 -2.19462,-5.913 -4.16009,-10.11502 -4.97868,-10.37944 -2.95814,-1.05327 -11.18367,-0.85169 -14.99567,0.36019 -4.0026,1.27248 -4.0026,1.27248 -5.0933,-2.15832 -0.63624,-2.0013 -0.66156,-4.72147 0.0276,-6.51454 1.14857,-2.98844 1.11827,-3.08374 -1.20307,-4.44439 -2.16545,-1.20035 -7.36558,-9.30582 -8.63806,-13.30842 -0.30297,-0.953 2.27454,-2.08722 11.61393,-5.05633 6.5757,-2.09051 12.61871,-4.53632 13.51553,-5.34609 2.27894,-2.40342 0.83293,-5.30153 -2.45904,-5.09442 -5.89097,0.61363 -15.27276,-0.18131 -16.14312,-1.26873 -2.26901,-2.84633 -16.82289,-2.41673 -15.88367,0.53757 0.15148,0.4765 -0.17353,1.10448 -0.74533,1.28626 -0.4765,0.15149 -0.81859,-0.26441 -0.64947,-1.0527 0.23412,-0.91389 -0.46327,-0.79711 -2.43868,0.25063 -1.49891,0.89625 -4.13261,1.52367 -5.71359,1.50163 -1.58099,-0.022 -5.47947,0.58775 -8.55496,1.14576 -7.99197,1.59637 -7.96552,-0.30082 0.26996,-5.75214 16.21534,-10.71647 28.83959,-20.18634 30.49054,-22.91477 2.36159,-3.7938 0.62086,-5.96863 -3.57234,-4.63556 -5.3368,1.69664 -20.39972,11.41715 -35.29409,22.65804 -7.7678,5.93224 -16.00768,11.69976 -18.26899,12.83839 -2.26131,1.13863 -4.59203,2.71905 -5.14235,3.62853 -2.29658,3.6682 -17.18157,11.96803 -32.3216,18.14536 -8.395212,3.29854 -9.352621,3.91771 -10.436188,6.78055 -1.213575,3.11404 -9.960816,11.24643 -13.105716,12.24624 -2.287199,0.72713 -2.015087,3.89351 0.440669,4.68677 1.637171,0.52884 5.665658,-0.33214 14.528555,-3.14978 l 12.29369,-3.90833 1.36281,6.59718 c 0.80039,3.83789 1.05487,8.26905 0.55192,10.31772 -0.93649,3.65554 -0.93649,3.65554 1.51486,4.765 1.69776,0.71944 2.87991,2.12746 3.66764,4.60526 1.15129,3.6214 1.15129,3.6214 -2.75601,4.86358 -3.6214,1.15129 -7.88457,5.23484 -8.91195,8.60448 -0.22972,0.59769 0.81305,5.19797 2.32791,9.96297 2.42377,7.624 2.62262,9.23969 1.51757,11.37484 -1.43006,2.76314 -5.75767,4.6636 -8.018418,3.49355 -3.89351,-2.01509 -21.75156,13.10609 -27.779188,23.52184 -4.54138,8.1594 -6.696979,19.86254 -5.118244,29.1193 0.553603,3.39168 0.890718,6.43246 0.695709,6.80925 -2.17539,4.04941 -8.650162,-16.97718 -19.099863,-61.39906 C 42.135964,274.38424 36.078224,248.39821 33.689721,238.24464 31.175621,228.02606 28.133806,214.8273 26.887778,208.92752 25.516152,202.96274 20.730329,183.28798 16.113063,165.13362 6.9694215,129.1108 5.3736145,118.81015 6.3343985,104.3389 7.1949115,92.52283 10.281467,82.097709 15.992898,71.677558 26.471016,52.816512 35.088252,44.935316 62.878413,29.699608 66.798937,27.508834 74.2026,22.741678 79.440252,19.082853 c 5.17265,-3.533228 10.405893,-6.875856 11.740093,-7.300016 1.334199,-0.42416 6.77896,-0.791009 12.124015,-0.811364 z m 50.02143,207.182597 c 2.68988,-0.12063 5.04536,3.3278 4.36888,6.48096 -0.34265,1.89277 -1.01416,2.42105 -3.54814,2.70198 -3.64288,0.42359 -5.08504,-0.48204 -6.20603,-4.00814 -1.18159,-3.71669 0.005,-4.93355 5.38529,-5.1748 z m 30.07126,-8.72061 c 0.21208,0.6671 1.13422,2.57751 1.93517,4.10672 1.42012,2.48661 1.32041,2.83311 -0.87148,3.52994 -1.906,0.60594 -2.88048,0.18122 -4.5865,-2.2145 -1.14745,-1.62892 -2.03929,-3.44403 -1.83987,-4.13702 0.40324,-1.70217 4.87793,-2.80994 5.36268,-1.28514 z m -57.66586,21.27085 c 0.54038,4.34027 -0.43466,6.22423 -3.67486,7.25433 -2.5731,0.81802 -2.85459,0.59272 -3.91499,-2.74278 -1.45426,-4.5744 -1.19425,-5.07679 3.47545,-6.56135 3.7167,-1.18159 3.7167,-1.18159 4.1144,2.0498 z m -8.64968,105.47811 c 2.04811,2.81163 1.09783,9.72444 -2.74231,19.75955 -3.08158,7.80025 -3.06451,8.84414 -0.34433,8.81881 2.84577,0.0397 19.08531,-3.33925 24.42211,-5.03589 l 4.9556,-1.57545 4.66632,12.36751 4.66633,12.36752 -2.6563,4.51708 c -1.49066,2.57254 -4.11225,6.86873 -5.95381,9.65776 l -3.32781,5.04536 2.21169,6.9569 c 1.60575,5.0509 1.95168,7.45928 1.17606,8.65025 -0.55032,0.90948 -0.65885,1.88837 -0.19116,2.36928 0.43738,0.3856 0.41534,1.96659 -0.0182,3.57346 -0.43354,1.60688 -0.53879,6.88693 -0.22812,11.82489 0.45718,8.03934 0.25335,9.04853 -1.75236,10.00096 -3.63021,1.78369 -3.71285,3.17407 -0.25673,4.80355 l 3.20493,1.49948 1.49169,10.96334 c 2.4083,17.8073 7.41061,37.83296 12.86081,50.68579 7.96102,18.77025 15.37013,27.22277 31.56775,35.92433 10.16895,5.58143 11.93557,8.16775 7.43443,11.1727 -2.33073,1.58043 -2.75545,2.55491 -2.15832,5.0933 0.56242,2.75929 1.1557,3.3052 4.91095,3.8952 9.14767,1.70883 11.55165,1.6791 18.52562,0.5113 3.89848,-0.60979 7.32046,-1.06809 7.57165,-0.93809 0.2512,0.13001 -1.82833,1.84043 -4.41906,3.92325 -2.71633,2.0178 -6.58508,5.03157 -8.6949,6.6467 -3.10194,2.45519 -5.90035,3.55471 -14.88443,5.99114 -6.09479,1.62282 -12.91287,2.95092 -15.00065,2.98507 -7.68844,0.24069 -14.54778,-6.81264 -18.30463,-18.62983 -2.39347,-7.5287 -5.59343,-11.65305 -10.80792,-14.19257 l -4.71209,-2.2795 -6.84491,-30.77251 c -3.7166,-16.97165 -9.22458,-41.55848 -12.1711,-54.78754 -12.11933,-53.96454 -21.98841,-99.2006 -24.13397,-110.90046 -2.47443,-13.06435 -2.26178,-14.70593 2.01461,-19.73806 2.98957,-3.46879 5.80946,-3.84061 7.92256,-1.15458 z m 142.2487,-47.32141 c 4.44824,0.78941 7.96055,2.92569 10.00425,6.05351 2.50697,3.92494 18.88459,38.27757 28.36103,59.50414 3.83123,8.75052 9.41585,21.03596 12.26875,27.36928 2.9482,6.30303 7.70598,16.64776 10.58918,23.07638 l 5.40283,11.71364 -2.39629,4.0147 c -2.23157,3.54261 -2.3098,4.6168 -1.03732,8.6194 2.1511,6.7663 18.49457,39.03115 25.42221,50.26004 3.24732,5.26354 7.928,12.0651 10.3226,14.97644 2.4899,2.88104 4.35181,5.43707 4.28681,5.56267 -0.0347,0.22089 -2.2525,0.50623 -4.72148,0.66156 -7.44165,0.68689 -26.45427,7.88551 -30.87334,11.80876 -2.04923,1.80573 -5.02116,4.00973 -6.55037,4.81068 -2.67722,1.48071 -3.02371,1.381 -3.69025,-0.7156 -0.54535,-1.7154 0.67263,-5.14563 3.98778,-11.55108 5.03992,-9.89188 6.90024,-18.56305 6.58686,-30.11085 -0.23685,-5.69596 -1.31432,-10.07535 -7.16608,-28.15205 -6.12443,-18.93439 -7.68281,-22.8461 -13.44977,-33.39466 -6.38172,-11.82217 -6.56791,-12.07777 -5.45405,-14.84531 1.28299,-3.55584 -0.081,-5.53566 -3.13055,-4.56615 -1.33419,0.42416 -2.65958,0.21593 -3.15756,-0.36028 -0.37238,-0.51121 -3.06995,-4.37554 -5.88871,-8.62108 -2.88376,-4.11994 -5.99283,-7.95839 -6.99761,-8.47842 -0.97448,-0.42472 -1.74954,-1.54243 -1.70602,-2.39572 0.0738,-0.75799 -0.70124,-1.8757 -1.77102,-2.27013 -1.22567,-0.55473 -2.36871,-2.49984 -3.67149,-6.59774 -1.0301,-3.2402 -2.6926,-6.48921 -3.53707,-7.16513 -0.93978,-0.64562 -5.18419,-2.44422 -9.46331,-4.02192 -4.30941,-1.673 -8.33293,-3.4369 -8.95651,-4.07811 -0.71887,-0.61091 -3.25999,-6.62363 -5.69698,-13.29903 l -4.48013,-12.11191 3.08871,-1.50661 c 1.71981,-0.86154 6.26832,-2.7273 10.08472,-4.25538 8.61611,-3.26384 15.47387,-7.43772 15.56532,-9.4605 0.0435,-0.85329 -1.83162,-2.46072 -4.31326,-3.66548 -4.7424,-2.37481 -12.47267,-8.20687 -14.77197,-11.1485 -2.61108,-3.26224 1.38767,-6.52721 6.91009,-5.65956 z m 80.03782,157.03135 c 4.23391,9.35704 8.43752,18.61877 9.38996,20.62447 0.95244,2.00571 1.40689,3.43521 0.9348,3.2705 -0.87918,-0.45502 -10.64649,-18.96582 -17.74652,-33.70758 -2.18196,-4.55292 -3.85712,-9.16202 -3.71389,-10.36181 0.15205,-1.83218 0.40324,-1.70217 1.85807,0.56355 0.86595,1.40361 5.04368,10.25384 9.27758,19.61087 z m -184.2636,116.50226 c 0.90507,0.86651 3.36852,5.64474 5.35547,10.57445 5.10812,12.43692 7.84039,16.08036 14.65293,19.68582 5.14948,2.66511 6.60046,2.93835 12.62143,2.07352 3.83348,-0.48419 11.41836,-2.37087 17.07136,-4.0631 9.46499,-2.90412 10.613,-3.58388 17.61839,-9.27374 4.18935,-3.32555 7.82839,-5.74163 8.17047,-5.32573 0.27708,0.5415 -0.0397,2.84578 -0.73763,5.27123 -1.1271,3.71614 -1.05384,5.26683 0.97607,11.65193 2.24199,7.05219 2.26788,7.46369 0.17897,12.11519 -1.17446,2.57695 -1.97213,5.3489 -1.72975,6.1113 0.72713,2.2872 -0.94531,4.28794 -4.4714,5.40893 -5.5274,1.75723 -42.04211,3.08243 -48.22282,1.79448 -9.11296,-1.92973 -10.64161,-3.43746 -14.24697,-14.77816 -1.69664,-5.3368 -3.61802,-12.70078 -4.38811,-16.44337 -1.12484,-5.51858 -1.55341,-6.53658 -2.69701,-6.17302 -2.0013,0.63624 -2.99726,-0.51617 -3.36026,-3.96845 -0.16415,-1.83659 0.36469,-3.47376 1.32209,-4.09293 1.30832,-0.83566 1.38654,-1.90984 0.44733,-4.86414 -1.15129,-3.6214 -1.41899,-7.10398 -0.65659,-7.34636 0.1906,-0.0606 1.06537,0.71063 2.09603,1.64215 z m 209.95014,-48.90757 4.71266,-0.0292 2.73612,5.63592 c 1.5066,3.08872 2.54111,6.01272 2.3764,6.48481 -0.55032,0.90948 -17.50105,7.66246 -40.76746,16.00355 -12.33281,4.44543 -19.15971,6.40592 -23.21408,6.85541 -5.70036,0.55304 -5.92126,0.51833 -6.89077,-2.53126 l -0.99981,-3.1449 7.68075,-4.22566 c 7.87134,-4.28625 12.54161,-8.07948 12.02655,-9.69958 -0.15148,-0.4765 0.65885,-1.88837 1.94127,-3.13552 2.85515,-2.9014 33.28173,-12.15469 40.39837,-12.2136 z m 14.4447,21.01121 c 1.8575,2.87222 2.44084,8.66788 1.49553,12.95582 -1.27473,5.23212 -4.8708,9.10359 -13.99868,15.04848 -4.50114,3.00496 -12.13011,8.0536 -16.88685,11.24475 -8.81168,5.9493 -14.24819,7.99244 -18.94762,7.07302 -1.32538,-0.20824 -4.52206,-0.0314 -6.99545,0.4401 -4.40528,0.66598 -6.50572,-0.65997 -4.07529,-2.58688 1.40802,-1.18215 5.39739,-1.50604 7.53695,-0.71719 3.20934,1.18327 0.52884,-1.63717 -3.45997,-3.62196 -4.01911,-2.08009 -4.51709,-2.6563 -7.82445,-10.41912 l -3.48914,-8.33462 18.9691,-6.34533 c 10.4527,-3.42799 23.64321,-8.14609 29.20972,-10.44041 17.49223,-7.03007 16.92043,-6.84828 18.46615,-4.29666 z m -143.23819,72.92455 c 0.11237,1.0136 -0.66325,2.20457 -1.84156,2.78903 -2.16601,1.10833 -2.97578,0.21152 -1.74072,-2.17483 1.17005,-2.26075 3.35754,-2.64138 3.58228,-0.6142 z"
          id="path891">
      </svg>
      </a>
      <h5 class="my-0 mr-md-auto font-weight-normal title"><a href="/">{{title}}</a></h5>
      {% if user.is_authenticated %}
      <nav class="my-2 my-md-0 mr-md-3">
        {% for item in menu  %}
        <a class="p-2 text-dark" href="{{item.url}}">{{item.title}}</a>
        {% endfor %}
        <a class="p-2 text-dark" href="{% url 'edit-profile' %}">Profil</a>
        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
      </nav>
      {% else %}
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        <a class="btn btn-outline-primary" href="{% url 'registration' %}">Registrieren</a>
      </nav>
      {% endif %}
    </div>
    </div>
    <div class="container content p-md-5 p-3 p-sm-4">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
