{% extends "lantern/base.html" %}
{% block content %}
<h2>
  {{show_user.first_name}} {{show_user.last_name}}
  {% if show_user.profile.birthname %}
  (geb. {{show_user.profile.birthname}})
  {% endif %}
</h2>
<p>
{{show_user.profile.description}}
</p>
<table class='table'>
  <tr>
    <th>Adresse</th>
    <td>{{show_user.profile.address | linebreaks}}</td>
  </tr>
  <tr>
    <th>Geburtstag</th>
    <td>{{show_user.profile.birthdate}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td><a href="mailto:{{show_user.email}}">{{show_user.email}}</a></td>
  </tr>
  {% for contact in show_user.profile.contact_set.all %}
  <tr>
    <th>{{contact.name}}</th>
    <td>{{contact.value}}</td>
  </tr>
  {% endfor %}
  <tr>
    <th>Letzter Login</th>
    <td>{{show_user.last_login}}</td>
  </tr>
</table>
{% endblock %}
