{% extends "lantern/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class='my-4'>Dein Profil</h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'edit-profile' %}" method="post">
{{userform | crispy }}
{{profileform | crispy }}
<h4 class='my-4'>Deine Kontaktinformationen</h4>
{% if contactform.errors %}
    {% for field in contactform %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in contactform.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div id="contactform">
{{ contactform | crispy }}
</div>
{% csrf_token %}
<input type="submit" value="Speichern" class='btn btn-primary'>
</form>
<script type="text/javascript">
    $(function() {
        $('#contactform .multiField').formset({
            prefix: '{{ contactform.prefix }}',
            formCssClass: 'clearfix',
            addCssClass: 'add-row btn btn-primary my-3',
            addText: 'Weitere Kontaktinformation hinzufügen',
            deleteCssClass: 'delete-row btn btn-danger mb-3 float-right',
            deleteText: 'Löschen'
        });
    })
</script>
{% endblock %}
