{% extends "lantern/base.html" %}
{% load lantern_tags %}
{% block content %}
<h2>{{list_name}}</h2>
<p>
<ul class="list-group">
{% for user in users %}
<li class="list-group-item my-1 my-md-2 border-top">
  <a href="{% url 'details' user.id %}" class='mr-3'>
  {{user.first_name}} {{user.last_name}}
  {% if user.profile.birthname %}
  (geb. {{user.profile.birthname}})
  {% endif %}
  </a>
  {% if user|has_group:"missing" %}<span class="badge badge-danger ml-1 float-right">Wird noch gesucht</span>
  {% elif not user.email %}<span class="badge badge-danger ml-1 float-right">Keine E-Mail</span>{% endif %}
  {% not_seen_for_days user 1100 as not_seen %}
  {% if not_seen %}<span class="badge badge-secondary ml-1 float-right">Lange nicht gesehen</span>{% endif %}
  <br>
  {% if user.last_login %}
    Letzter Login: {{user.last_login }} Uhr
    
  {% endif %}
</li>
  
{% endfor %}
</ul>
</p>
{% endblock %}
