{% extends "lantern/base.html" %}
{% load lantern_tags %}
{% block content %}
<h2>{{list_name}}</h2>
<p>
<ul class="list-group">
{% for forum in forums %}
<li class="list-group-item my-1 my-md-2 border-top">
  <a href="{% url 'forum' forum.slug %}" class='mr-3'>
  {{forum.name}}
  </a>
    {% if not forum.is_writable %}<span class="badge badge-secondary ml-1 float-right">Read Only</span>{% endif %}
  <br>
Zeitraum: {{forum.first_last_post.0 | date }} - {{forum.first_last_post.1 | date }} 
</li>
  
{% endfor %}
</ul>
</p>
{% endblock %}
