{% extends "lantern/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if form.errors %}
<p>Benutername und Passwort stimmen nicht überein.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Du hast keine Berechtigung, diese Seite anzuzeigen.</p>
    {% else %}
    <p>Bitte logge dich ein, um diese Seite zu sehen.</p>
    {% endif %}
{% endif %}

<h2 class='mb-4'>Login</h2>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form | crispy }}

<input type="submit" value="Einloggen" class='btn btn-primary'>
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class='my-4'><a href="{% url 'password_reset' %}">Benutzername und/oder Passwort vergessen</a></p>
<p class='my-4'>{{ login_message }}</p>

{% endblock %}

