{% extends "lantern/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Passwort ändern</h2>

<form method="post">{% csrf_token %}

{{ form | crispy }}

<input type="submit" value="Passwort ändern" class="btn btn-primary">

</form>

{% endblock %}
