{% extends "lantern/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<p>Trage hier Deine Email-Adresse ein, die Du benutzt hast und du bekommst deinen Username zugesendet, sowie einen Link, um das Passwort neu zu setzen.</p>

<form action="{% url 'password_reset' %}" method="post">
  {% csrf_token %}
 {{form | crispy }}
 <input type="submit" value="Abschicken">
 </form>
{% endblock %}
