{% extends "lantern/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="{% url 'registration' %}" method="post">
{{userform | crispy }}
{{profileform | crispy }}
<h4 class='my-4'>Deine Kontaktinformationen</h4>
{% if contactform.errors %}
    {% for field in contactform %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in contactform.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div id="contactform">
{{ contactform | crispy }}
</div>
{{ contactform.management_form }}
{% csrf_token %}
<input type="submit" value="Registrierung absenden" class='btn btn-primary'>
</form>
<script type="text/javascript">
    $(function() {
        $('#contactform .multiField').formset({
            prefix: '{{ contactform.prefix }}',
            formCssClass: 'clearfix',
            addCssClass: 'add-row btn btn-primary my-3 d-none',
            addText: 'Weitere Kontaktinformation hinzufügen',
            deleteCssClass: 'delete-row btn btn-danger mb-3 float-right d-none',
            deleteText: 'Löschen'
        });
    })
</script>
{% endblock %}
