{% extends "lantern/base.html" %}
{% load lantern_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="card my-md-3 my-sm-2">
  <div class="card-body">
    <h5 class="card-title">
      <span class="align-middle">
        {{post.user.first_name}} {{post.user.last_name}}
        {% if post.important %}<span class="badge badge-warning ml-3 float-right">Wichtig</span>{% endif %}
      </span>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{post.date}}</h6>
    <p class="card-text">{{post.text | linebreaksbr}}</p>
    {% for reply in post.replies %}
    <p class="comment border-top ml-2 my-2 p-1">{{reply.text}} – <a href="{% url 'details' reply.user.id %}">{{reply.user.first_name}} {{reply.user.last_name}}</a>
    <span class='comment-date'>{{reply.date}}</span></p>
    {% endfor %}
  </div>
</div>
<h4>Deine Antwort</h4>
{% if form %}
<form method="post">
  {{ form | crispy }}
  {% csrf_token %}
  <input type="submit" name="" id="" value="Abschicken" class='btn btn-primary'>
  <a class='btn btn-secondary' href="{% url 'forum-page' post.forum.slug post.forum_page %}">Zurück</a>
</form>
{% endif %}
{% endblock %}
