{% extends "lantern/base.html" %}
{% load lantern_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="card my-md-3 my-sm-2">
  <div class="card-body">
    <h5 class="card-title">
      <span class="align-middle">
        {{post.user.first_name}} {{post.user.last_name}}
        {% if post.important %}<span class="badge badge-warning ml-3 float-right">Wichtig</span>{% endif %}
      </span>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{post.date}}</h6>
    <p class="card-text">{{post.text | linebreaksbr}}</p>
    <div class="clearfix">
    {% if post.forum.is_writable and user|has_group:post.forum.write_group %}
    <a class="float-right ml-3" href="{% url 'reply-post' post.id 'forum' %}">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                                                           width="1em" height="1em" viewBox="0 0 512 512" style="fill:#999999; enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
        <path d="M160,416L0,256.875L160,96v96h128c123.688,0,224,100.312,224,224c0-53-43-96-96-96H160V416z"/>
        </g>
      </svg>
    </a>
    {% endif %}
    {% if post.user == user  and post.forum.is_writable and user|has_group:post.forum.write_group %}
      
    <a class="float-right ml-3" href="{% url 'edit-post' post.id 'forum' %}">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                                                           width="1em" height="1em" viewBox="0 0 485.219 485.22" style="fill:#999999; enable-background:new 0 0 485.219 485.22;"
                                                                                                                                                                                            xml:space="preserve">
        <g>
        <path d="M467.476,146.438l-21.445,21.455L317.35,39.23l21.445-21.457c23.689-23.692,62.104-23.692,85.795,0l42.886,42.897
                  C491.133,84.349,491.133,122.748,467.476,146.438z M167.233,403.748c-5.922,5.922-5.922,15.513,0,21.436
                  c5.925,5.955,15.521,5.955,21.443,0L424.59,189.335l-21.469-21.457L167.233,403.748z M60,296.54c-5.925,5.927-5.925,15.514,0,21.44
                  c5.922,5.923,15.518,5.923,21.443,0L317.35,82.113L295.914,60.67L60,296.54z M338.767,103.54L102.881,339.421
                  c-11.845,11.822-11.815,31.041,0,42.886c11.85,11.846,31.038,11.901,42.914-0.032l235.886-235.837L338.767,103.54z
                  M145.734,446.572c-7.253-7.262-10.749-16.465-12.05-25.948c-3.083,0.476-6.188,0.919-9.36,0.919
                  c-16.202,0-31.419-6.333-42.881-17.795c-11.462-11.491-17.77-26.687-17.77-42.887c0-2.954,0.443-5.833,0.859-8.703
                  c-9.803-1.335-18.864-5.629-25.972-12.737c-0.682-0.677-0.917-1.596-1.538-2.338L0,485.216l147.748-36.986
                  C147.097,447.637,146.36,447.193,145.734,446.572z"/>
        </g>
      </svg>
    </a>
    {% endif %}
    </div>
    {% for reply in post.replies %}
    <p class="comment border-top ml-2 my-2 p-1">{{reply.text}} – <a href="{% url 'details' reply.user.id %}">{{reply.user.first_name}} {{reply.user.last_name}}</a>
    <span class='comment-date'>{{reply.date}}</span></p>
    {% endfor %}
  </div>
</div>
{% endblock %}
