/* caveat-700 - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  src: local('Caveat Bold'), local('Caveat-Bold'),
       url('../fonts/caveat-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/caveat-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #eeeeee;
}

svg.lanternlogo {
  height: 40px;
  width: auto;
  margin-right: 10px;
  fill: #444444;
}

a.lanternlogo {
  outline:None;
}

.outheader{
  margin:0px;
  padding:0px;
  border:0px;
  align-items:center;  
}

.header {
  max-width: 960px;
  align-items:center;  
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
}

.title a {
  font-family: 'Caveat', cursive;
  font-size: 40px;
  color: #555555;
  text-decoration: None;
  outline:None;
}

.content {
  max-width: 960px;
  background-color:#FFFFFF;
  border:1px solid #cccccc;
}

.comment{
  font-size:smaller;
}
.comment-date {
  color:#999999;
}


.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

